/* Палитра */

:root {
  --secondary-background: #f5f4fa;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
}
/* logo */
.web {
  color: var(--accent-color);
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio-black {
  color: #000000;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio-white {
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Reset styles */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
/* Navigation */
.link-opened {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .link {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list-logo {
  font-family: "raleway", sans-serif;
}
.contacts a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts a:hover {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: var(--primary-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-button:hover {
  background-color: var(--primary-text-color);
}

/* features */

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.section-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* activitis */
.activitis {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
/* Team */
.team {
  background: var(--secondary-background);
}
.team-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.team-member {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.team-prof {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* footer */
.footer {
  background-color: var(--primary-background-color);
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
/* PORTFOLIO */
.button-list {
  background-color: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.button-list:hover,
.button-list:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}
